.sliderImage {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/* responsive for laptop */
@media (max-width: 1024px) {
  .sliderImage {
    height: 350px;
  }
}
/* responsive for mobile large */
@media (max-width: 768px) {
  .sliderImage {
    height: 250px;
  }
}
/* responsive for mobile modeium */
@media (max-width: 425px) {
  .sliderImage {
    height: 300px;
  }
}

